@import "tailwindcss";

@theme inline {
  --color-faesa-blue: #002A54;
  --color-faesa-light: #003F7A;
  --color-faesa-accent: #F4F6F8;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #002A54;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B1B3D;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  @apply antialiased;
}
